<a href="https://colab.research.google.com/github/Ramyadav08/django-helloworld/blob/main/devops_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.1.0)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Using cached protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
Installing collected packages: protobuf
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-metadata 1.14.0 requires protobuf<4.21,>=3.20.3, but you have protobuf 4.21.12 which is incompatible.
Successfully installed protobuf-4.21.12

In [22]:
import mysql.connector

# Establish a connection to the database
def create_connection():
    connection = mysql.connector.connect(
        host="mydatabase.cp1yjhq6uo8u.us-east-1.rds.amazonaws.com",
        user="admin",
        password="admin123",
        database="mydatabase"
    )
    return connection

In [23]:
connection = create_connection()
connection

In [24]:
def create_table(connection):
    cursor = connection.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS sample (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age INT)")

In [11]:
create_table(connection)

In [12]:
# Insert a record
def insert_record(connection, name, age):
    cursor = connection.cursor()
    query = "INSERT INTO sample (name, age) VALUES (%s, %s)"
    cursor.execute(query, (name, age))
    connection.commit()

In [25]:
insert_record(connection, "Ram", 21)
insert_record(connection, "Jane Smith", 28)

In [14]:
# Select records
def select_records(connection):
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM sample")
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [26]:
select_records(connection)

(2, 'Jane Smith', 28)
(3, 'John1 Doe', 30)
(4, 'Jane1 Smith', 28)
(5, 'Alice Brown', 24)
(6, 'Ram', 21)
(7, 'Jane Smith', 28)

In [16]:
# Update a record
def update_record(connection, name, age, id):
    cursor = connection.cursor()
    query = "UPDATE sample SET name = %s, age = %s WHERE id = %s"
    cursor.execute(query, (name, age, id))
    connection.commit()

In [17]:
update_record(connection, "John Doe", 31, 1)
select_records(connection)

(1, 'John Doe', 31)
(2, 'Jane Smith', 28)

In [18]:
# Delete a record
def delete_record(connection, id):
    cursor = connection.cursor()
    query = "DELETE FROM sample WHERE id = %s"
    cursor.execute(query, (id,))
    connection.commit()
delete_record(connection, 1)

In [19]:
select_records(connection)

(2, 'Jane Smith', 28)

In [20]:
# Insert multiple records
def insert_multiple_records(connection, records):
    cursor = connection.cursor()
    query = "INSERT INTO sample (name, age) VALUES (%s, %s)"
    cursor.executemany(query, records)
    connection.commit()

# Main function to perform all operations


records = [("John1 Doe", 30), ("Jane1 Smith", 28), ("Alice Brown", 24)]
insert_multiple_records(connection, records)

In [21]:
select_records(connection)

(2, 'Jane Smith', 28)
(3, 'John1 Doe', 30)
(4, 'Jane1 Smith', 28)
(5, 'Alice Brown', 24)